YANDEX_API_KEY = "Вставьте креды здесь"
YANDEX_FOLDER_ID = "Вставьте креды здесь"
YANDEX_EMBEDDING_URL = https://ai.api.cloud.yandex.net:443/foundationModels/v1/textEmbedding
YANDEX_LLM_URL = "https://ai.api.cloud.yandex.net/v1/responses"
YANDEX_LLM_MODEL = "yandexgpt-5-lite"